@layout('private/index')

@set('title', 'Listar Notícias | Painel do Editor')

@section('content')

<br><br><br>
<br><br><br>
<br><br><br>

@if(auth.isLoggedIn)
<p> Hello {{ auth.user.name }} </p>
@endif

@end
